<section class="TodoSection">
<div class="TodoSectionTitle">
 <p>Menu Categories</p>
</div>
<ul>
<% menu_categories.each do |menu_cat|%>
   
  <li class="TodoItem">
    <div class="TodoItem-container">
     <p> 
      <%= menu_cat.name%>
     </p>
     <%= form_with(url: "/menu_items/#{menu_cat.id}", method:"put") do %>
      <button> ADD </button>
    <% end %>
    </div>
  </li>
  <%end%>
  </ul>
 
   


</section>