<main class="TodoPageMain">
      <article>
        <h1 class="TodoPage-title">Menu Items List Manager</h1>
       

        <%= render partial:"item_manager_section",locals:{menu_categories:MenuCategory.all}%>  


      </article>
    </div>
    </main>