<main class="TodoPageMain">
      <article>
        <h1 class="TodoPage-title">Here is your cart!</h1>
       

        <%= render partial:"cart_section",locals:{cart_items:OrderItems.all}%>  


      </article>
    </div>
    </main>