<main class="TodoPageMain">
<article>
  <h1 class="TodoPage-title">Menu List</h1>
 
  <%= form_with(url: "/menu_items", method:"post") do |form| %>
    <input class="AddTodo-text" type="text" placeholder="Enter name of item" name="name">
    <input class="AddTodo-text" type="text" placeholder="Description" name="description">
    <input class="AddTodo-text" type="text" placeholder="Enter price" name="price">
    <input class="AddTodo-text" type="text" value="<%=@menu_cats.id%>" name="menu_cats_id">
    <input  class="AddTodo-button" type="submit" value="Add" >
  <% end %>

  <p> 
  <%= render partial:"menu_items_section",locals:{menu_cats:@menu_cats}%> 
  </p>
   

</article>
</main>