  <button class="order_status" onclick="orderStatus()">PAY</button>
  <p id="demo"></p>
  <script>
   function orderStatus() {
     

      document.getElementById("demo").innerHTML = "Payment successful.Order successfully placed!!";
    
   }
  </script>